/* Main Background */
.main-background {
    -fx-background-color: #F0F4F8;
    -fx-padding: 20;
}

/* Side Pane Styling */
.side-pane {
    -fx-background-color: #1E3A8A;
    -fx-background-radius: 0;
    -fx-padding: 20;
}
.side1-pane {
    -fx-background-color: rgba(148, 0, 196, 0.7);
    -fx-background-radius: 15;
    -fx-padding: 20;
}

/* Title and Subtitle Labels */
.title-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 36px;
    -fx-font-weight: bold;
}

.subtitle-label {
    -fx-text-fill: #BBE1FA;
    -fx-font-size: 24px;
}

.small-label {
    -fx-text-fill: #BBE1FA;
    -fx-font-size: 18px;
}

/* Welcome Label */
.welcome-label {
    -fx-text-fill:white;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

/* Input Field Styling */
.input-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: #FFFFFF;
    -fx-border-color: #A6AEBF;
    -fx-padding: 10;
    -fx-font-size: 14px;
}

/* Button Styling */
.primary-button {
    -fx-background-color:#D0A2F7;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-padding:2;
}

.primary-button:hover {
    -fx-background-color: #7A1CAC;
}
.primary-button:focused{
    -fx-background-color: #7B66FF;
}

.secondary-button {
    -fx-background-color: #7B66FF;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 20;
    -fx-font-size: 16px;
}

.secondary-button:hover {
    -fx-background-color: #059669;
}
.secondary-button:focused{
    -fx-background-color: #9B7EBD;
}

/* Info Label */
.info-label {
    -fx-text-fill: #6B7280;
    -fx-font-size: 14px;
}
.main-anc{
    -fx-background-color:#C6E7FF;
}
.icon{
    -fx-background-radius: 20;
}
.side-pane{
    -fx-background-color: rgba(148, 0, 196, 0.7);
}
.label{
    -fx-background-color: rgba(148, 0, 196, 0.7);
    -fx-background-radius: 0;
}
.sign-button {
    -fx-background-color:#3A1078;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 10;
    -fx-font-size: 16px;
    -fx-padding:2;
}
.sign-button:hover {
    -fx-background-color: #9B7EBD;
}
.label{
    -fx-background-color: #D2E0FB;
}
.button1{
    -fx-background-color: #FFB200;
}
.button1:hover{
    -fx-background-color: #E4003A;
}
